# шаблонизатор
Jinja2>=3.1.0
MarkupSafe>=2.1.1

# основы
wheel
fastapi==0.115.12
uvicorn==0.34.3
celery==5.5.3
redis==6.2.0
python-dotenv==1.1.0
pydantic<2.0.0,>=1.10.0
werkzeug==3.1.3
ffmpeg-python==0.2.0
aiofiles==24.1.0
python-multipart>=0.0.5

# Git-зависимость
git+https://github.com/m-bain/whisperx.git@main

# аудио/трансформеры
pyannote.audio>=3.3.2
faster-whisper>=1.1.1
transformers==4.48.0
huggingface-hub<1.0,>=0.14.1
tokenizers>=0.14,<0.20

# Torch-стек
torch>=2.5.1
torchaudio>=2.5.1
onnxruntime>=1.19
ctranslate2<4.5.0

# вспомогательное
nltk>=3.9.1
pandas>=2.2.3
starlette<0.47.0,>=0.40.0
typing-extensions>=4.8.0
click>=7.0
h11>=0.8
click-plugins>=1.1.1
python-dateutil>=2.8.2
kombu<5.6,>=5.5.2
click-didyoumean>=0.3.0
billiard<5.0,>=4.2.1
click-repl>=0.2.0
vine<6.0,>=5.1.0
async-timeout>=4.0.3
future==0.18.2

# дополнительные аудио/метрики
pyannote.database>=5.0.1
soundfile>=0.12.1
speechbrain>=1.0.0
pyannote.core>=5.0.0
rich>=12.0.0
pytorch-metric-learning>=2.1.0
lightning>=2.0.1
tensorboardX>=2.6
torch-audiomentations>=0.11.0
pyannote.metrics>=3.2
torchmetrics>=0.11.0
omegaconf<3.0,>=2.1
pyannote.pipeline>=3.0.1
semver>=3.0.0
einops>=0.6.0
asteroid-filterbanks>=0.4
numpy>=2.0.2
av>=11
